.idea
*.pyc
*.java
*.class
/test/resources
/examples/family/data/
/examples/iris/data/
neurallog/language/parser/ply/parsetab.py
neurallog/language/parser/ply/parser.out
/neurallog/test
.DS_Store
venv
/test/structure_learning/data*
/neurallog/test/
